@charset "UTF-8";

.l-header {
  border-top: 6px solid #FFCCCC;
  padding: 0 50px;
}

.p-topContents {
  display: flex;
  justify-content: space-between;
}

.p-topContents__top {
  display: flex;
  justify-content: flex-end;
}

.c-navText {
  font-size: 12px;
  padding: 30px 30px 0 0;
}

.c-navLogo {
  width: 120px;
  object-fit: contain;
}

.p-topContents__inner {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCCCC;
  border-radius: 0 0 12px 12px;
  padding: 13px;
}

.c-navIcon {
  width: 20px;
  height: 20px;
}

.c-innerText {
  font-size: 14px;
  padding-left: 10px;
}

.p-topContents__bottom {
  padding: 24px 0 10px;
}

.p-navList {
  display: flex;
}

.p-navList__item {
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.p-topContents__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-navArrow {
  position: relative;
  display: inline-block;
  padding-right: 24px;
}

.c-navArrow::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 7%;
  width: 8px;
  height: 8px;
  border-right: 1px solid #990000;
  border-bottom: 1px solid #990000;
  transform: translateY(-50%) rotate(45deg);
}

.p-dropdownList {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 15px;
}

.p-navList__item.active .p-dropdownList {
  height: auto;
  opacity: 1;
  margin-top: 10px;
}

.c-mainTitle {
  position: relative;
  display: inline-block;
  font-size: 56px;
  font-weight: normal;
  color: #990000;
  padding-left: 40px;
  font-family: serif;
}

.c-mainTitle::before {
  content: "・";
  position: absolute;
  top: 0;
  left: -4%;
  color: #990000;
  text-shadow: 0 0 6px #990000, 0 0 12px #990000;
}

.c-mainHeading {
  font-size: 18px;
  font-weight: normal;
  color: #990000;
}

.l-footer {
  background-color: #FFCCCC;
}

.p-bottomContents {
  padding: 100px 0 80px;
}

.c-bottomHeading {
  font-size: 118px;
  white-space: nowrap;
  opacity: 0.5;
  font-weight: 400;
  font-family: serif;
}

.p-bottomContents__bottom {
  margin: 80px auto 0;
  max-width: 800px
}

.p-bottomList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid;
}

.p-bottomList__item {
  font-size: 14px;
}

.c-copyright {
  padding-top: 50px;
  font-size: 10px;
}