@charset "UTF-8";

.l-header {
  border-top: 6px solid #1d3865;
  padding: 0 50px;
}

.p-topContents {
  display: flex;
  justify-content: space-between;
}

.p-topContents__top {
  display: flex;
  justify-content: flex-end;
}

.c-navText {
  font-size: 12px;
  padding: 30px 30px 0 0;
}

.c-navLogo {
  width: 220px;
  height: 85px;
  object-fit: cover;
  padding-top: 20px;
}

.p-topContents__inner {
  width: 210px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d3865;
  border-radius: 0 0 12px 12px;
  padding: 13px;
}

.c-navIcon {
  width: 20px;
}

.c-innerText {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.p-topContents__bottom {
  padding: 24px 0 10px;
}

.p-navList {
  display: flex;
}

.p-navList__item {
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.p-topContents__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-navArrow {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-bottom: 4px;
}

.p-navList__item.active .c-navArrow {
  transform: rotate(-135deg);
  margin-top: 4px;
  margin-bottom:0;
}

.p-dropdownList {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 15px;
}

.p-navList__item.active .p-dropdownList {
  height: auto;
  opacity: 1;
  margin-top: 10px;
}

.l-footer {
  background-color: #1D3865;
}

.p-bottomContents {
  padding: 100px 0 80px;
}

.c-bottomHeading {
  color: #fff;
  font-size: 118px;
  white-space: nowrap;
  opacity: 0.5;
  font-weight: 400;
  font-family: serif;
}

.p-bottomContents__bottom {
  margin: 80px auto 0;
  max-width: 800px
}

.p-bottomList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}

.p-bottomList__item {
  color: #fff;
  font-size: 14px;
}

.c-copyright {
  padding-top: 50px;
  color: #fff;
  font-size: 10px;
}